body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
 }
 jumbotron{
    background-image: linear-gradient(#457ce0, rgb(218, 209, 209),white);
    padding: 20px 0; 
} 
 
  
h2, h3 {
    font-family: "Lobster", cursive; 
}
  
h2 {
    color: #3046C5; 
}
  
header h2 {
    color: #0b0441; 
}
  
footer {
    background-image: linear-gradient(#CEC8FF, white);
    
    left: 0;
    bottom: 5px;
    width: 100%;
    color: rgb(55, 0, 255);
    
  
}
